* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

h1 {
    text-align: center;
}

.section {
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
}

.section-title {
    background-color: #f5bdc7;
    border: 1px solid black;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    position: absolute;
    right: 10px;
    top: 10px;
}
